body {
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.signup-container {
    background-color: #2f115b;
    padding: 20px;
    border: none;
    border-radius: 8px;
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.inputBoxStyle {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    background-color: rgb(68, 41, 108);

}

.signup-button {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    background-color: #5f1b96;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #3d0e64;
}

.already-exist {
    text-align: center;
    margin-top: 10px;
}

.already-exist a {
    color: #007bff;
    text-decoration: none;
}

.already-exist a:hover {
    text-decoration: underline;
}